<%- include('header'); -%>
<main>
  <% if (dayForTemplate === 'Saturday' || dayForTemplate === 'Sunday') { %>
  <h1 style="color: red;">Today is <%= dayForTemplate %></h1>
  <% } else { %>
  <h1 style="color: green;">Today is <%= dayForTemplate %></h1>
  <% } %>
  <p>You <strong style="text-transform: uppercase;"><%= shouldYouWork %></strong> work on <i><%= dayOfTheWeek %></i> !</p>
  <img src="<%= imageLink %>" alt="Image" width="300" height="200">

  <h2 class="title"> <%= listTitle %> </h2>

  <ul>
    <% for(let task of todoList) { %>
    <li><%= task %></li>
    <% } %>
  </ul>

  <form method="POST" action="/">
    <input type="text" name="task" placeholder="Enter taks">
    <button type="submit" name="button" value="<%= listTitle %>">Add task</button>
  </form>
</main>
<%- include('footer'); -%>